<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous"
      />
      <title>Personal Web</title>
   </head>

    <body>
      <nav class="navbar navbar-expand-lg" style="background-color: orangered;">
        <div class="container">
          <a class="navbar-brand" href="#"><img
              style="max-width: 200px"
              src="/images/uchiha.PNG"
              id=""
              alt="#"
              width="50"
              height="45"
            />
          </a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item fw-bold ms-3">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item fw-bold ms-3">
                <a class="nav-link active" href="/blog">
                  Add Project
                </a>
              </li>
            </ul>

            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-4 ms-5 mb-lg-0 fw-bold">
                  {{#if isLogin}}
                  <li class="nav-item">
                      <a class="nav-link active nav-link active mx-auto" href="#">
                          Hello, {{user}}
                      </a>
                  </li>
                  <li class="nav-item fw-bold ms-3">
                      <a class="nav-link active"  style="width: 100px;"  href="/logout">
                          Logout
                      </a>
                  </li>
                  {{else}}
                  <li class="nav-item">
                      <a class="nav-link active mx-auto" style="width: 90px;" href="/register">
                          Register {{dataBlog.isLogin}}
                      </a>
                  </li>
                  <li class="nav-item fw-bold ms-3">
                      <a class="nav-link active"  style="width: 100px;"  href="/login">
                          Login
                      </a>
                  </li>
                  {{/if}}
                </ul>
              <a
                class="btn fw-bold text-white rounded-pill"
                style="background-color: black;"
                type="submit"
                href="/contact"
                >Contact Me
              </a>
            </div>
            
          </div>
        </div>
      </nav>

      {{#if messages.success}}
        <div class="alert alert-success" role="alert">
          <div class="container">
            {{messages.success}}
          </div>
        </div>        
      {{/if}}

      <div class="container-card d-flex ">
        <div
          class="card container-card-content d-flex align-items-center justify-content-center bg-secondary"
        >
          <div class="card-list-content d-flex flex-row p-5">
            <div class="card-body card-body-text p-0">
              <h2 class="card-title text-white">Welcome To My Web Kris</h2>
              <p class="card-text pe-4 mt-4 text-white">
                Perkenalkan saya kris, saya membuat web ini untuk mengembangkan
                skill dalam belajar berkarir sebagai "Fullstack Developer", saya
                membuat sebuah website statis dengan menggunakan bahasa markup
                language html, bahasa style css dan javascript, untuk
                mengembangkan skill saya belajar membuat website ini dengan
                mengikuti step by step dan belajar dari teman dan webnya sama
                persis dengan teman saya, dan saya juga akan mengubah desain per
                desain agar saya dapat memahami penempatan dan cara menghubungkan
                html ke css dan javascript.
              </p>
              <div
                class="card-content-list d-flex flex-sm-row align-items-center mt-5"
              >
                <button class="btn btn-dark rounded-pill ps-4 pe-4 me-4">
                  <a class="text-light fs-6 fw-bolder text-decoration-none" href="/contact">
                    Contact
                  </a>
                </button>
                <a
                  class="text-dark fs-6 fw-bolder text-decoration-none text-white"
                  href="CV.pdf"
                  download
                >Download CV
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 34 32"
                    stroke-width="1.2"
                    stroke="currentColor"
                    width="30px"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
                    />
                  </svg>
                </a>
              </div>
              <div class="social-media mt-5 d-flex gap-4 fs-2">
                <a href="https://www.linkedin.com/in/kris05/"><i
                    class="icon-sosmed fa-brands fa-linkedin text-dark"
                  ></i></a>
                <a href="https://www.instagram.com/kris.laoli/"><i
                    class="icon-sosmed fa-brands fa-instagram text-dark"
                  ></i></a>
                <a href="https://www.facebook.com/crislaoli14"><i
                    class="icon-sosmed fa-brands fa-facebook text-dark"
                  ></i></a>
                <a href="https://twitter.com/Krislaoli_"><i
                    class="icon-sosmed fa-brands fa-twitter text-dark"
                  ></i></a>
              </div>
            </div>
            <div
              class="card card-profile d-flex align-items-center justify-content-center rounded-3 shadow"
            >
              <img
                class="card-img-top rounded-top-3"
                src="/images/h.JPG"
                alt="card-photo"
              />
              <div class="card-body rounded-3">
                <h3 class="card-title fs-5 fw-bolder text-center">
                  M. Kristian Laoli
                </h3>
                <p class="text-card fs-5 text-center">Fullstack Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="line" />   
        <section class="bg-warning">
          <div class="container ">
                      <div class="row">
                          <div class="col-sm-11">
                            <h2 class="text-center my-4 mx-4">My Project</h2>
                          </div>
                      </div>
                  <div class="row">
                      {{#each dataBlog}}
                        <div class="col-sm-4 mb-5">
                            <div class="card p-2" style="width: 350px; box-shadow: 0 0 30px black;">
                                  <img src="/{{this.images}}" 
                                      class="card-img-top" 
                                      alt="" 
                                      name="cardImg">
                              <div class="card-body">
                                    <h5 class="card-title fw-bold" 
                                            href="/blog-detail/{{@index}}"
                                            class="text-decoration-none text-dark"
                                            target="_blank">
                                        <a href="/blog-detail/{{@index}}" 
                                          style="color: black;text-decoration: none;">
                                          {{this.title}}
                                        </a>
                                    </h5>
                                      <p>{{this.startDate}} --||-- {{this.endDate}}</p>

                                      <div class="d-flex justify-content-between">
                                         <p class="card-duration mt-3"  style="font-size: 14px;" >{{this.duration}} </p>
                                         <p class="card-duration mt-3 fw-bold"  style="font-size: 14px;">{{this.author_name}}</p>
                                        
                                      </div>
                                     
                                      <p  class="card-text" 
                                          style="text-align: justify; 
                                                verflow: hidden; 
                                                display: -webkit-box; 
                                                -webkit-line-clamp: 4;
                                                -webkit-box-orient: vertical;">{{this.content}}
                                      </p>
                                      <div class="gap-5 fs-3 mb-3">
                                            {{#if this.nodejs}}
                                            <a><i class="fa-brands fa-node-js"></i></a>
                                            {{/if}}
                                            {{#if this.reactjs}}
                                            <a><i class="fa-brands fa-react"></i></a>
                                            {{/if}}
                                            {{#if this.js}}
                                            <a><i class="fa-brands fa-js"></i></a>
                                            {{/if}}
                                            {{#if this.vuejs}}
                                            <a><i class="fa-brands fa-vuejs"></i></a>
                                            {{/if}}
                                      </div>
                                      <div class="d-flex justify-content-between">
                                            {{#if isLogin}}
                                            <button class="btn btn-warning rounded-pill px-5 fw-bold"> 
                                              <a href="/edit-blog/{{this.id}}"
                                                style="text-decoration: none ; color:rgb(0, 0, 0);">Edit
                                              </a>
                                            </button>
                                            <button class="btn btn-danger rounded-pill px-5 fw-bold">
                                                <a href="/delete-blog/{{this.id}}" 
                                                  style="text-decoration: none ; color:rgb(0, 0, 0);">Delete
                                                </a>
                                            </button>
                                            {{/if}}
                                            
                                            {{!-- <li class="nav-item">
                                                <a class="nav-link active fw-semibold text-danger" href="#">
                                                    Hello, {{user}}
                                                </a>
                                            </li>
                                            <li class="nav-item fw-bold ms-3">
                                                <a class="nav-link" href="/logout">
                                                    Logout
                                                </a>
                                            </li> --}}
                                            
                                      </div>
                              </div>
                          </div>
                        </div>
                      {{/each}}
                  </div>
          </div>
        </section>


      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
      ></script>



    </body>


</html> 